@using ASP.Net_Forum.Domain.Entity;

@model Note


<div class="row">

	<div class="col-8 mb-3 ms-1 h5">@Model.User.Login</div>

	<h1 class="m-2 p-2 ">@Model.Title</h1>

	<div class="mb-5">@Model.DateCreated</div>

	<div class="m-3 overflow-hidden">
		<p>@Model.Body</p>
	</div>
    <div>
        <button class="not_liked p-1 rounded-1" id="Like">Понравилось</button>
    </div>

</div>

@section Scripts
{
    <script>

        $(function() 
        {
			$('#Like').on('click', function(e){
				e.preventDefault();

                $.getJSON('@Url.Action("ClickLike","Mark")?NoteId=' + @Model.Id, function (data) {
                    console.log(data);
                    console.log($('#Like'));
                    if (data === true) {
                        $('#Like').removeClass('not_liked').addClass('liked');
                    }
                    else {
                        $('#Like').removeClass('liked').addClass('not_liked');
                    }
                });
			});
        });
    </script>
}


